@model IEnumerable<crud_ejercicio.Models.Persona>

@{
    ViewData["Title"] = "Inicio";
}

<h1>Inicio</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Codigo }, new { onclick = "return confirm('¡Se editara esto!');" }) |
                @Html.ActionLink("Detalles", "Details", new { ide = item.Codigo }, new { onclick = "return confirm('¡se mostraran detalles!');" }) |

                @if(item.Estado == 1)
                {
                @Html.ActionLink("Desactivar", "Desactivar", new { id = item.Codigo }, new { onclick = "return confirm('¡SE Desactivara ESTO!');" })

                }
                else
                {
                @Html.ActionLink("Activar", "Activar", new { id = item.Codigo }, new { onclick = "return confirm('¡SE Activara ESTO!');" })

                }
            </td>
        </tr>
}
    </tbody>
</table>
